drjit==1.2.0
einops==0.8.1
imageio==2.37.2
kagglehub==0.4.1
matplotlib==3.10.8
mitsuba==3.7.1
numpy==1.17.4
Pillow==7.0.0
Pillow==12.1.0
plotly==6.5.2
pyrender==0.1.45
pytest==4.6.9
PyYAML==6.0.3
scipy==1.17.0
torch==2.4.1
torchvision==0.19.1
tqdm==4.67.1
trimesh==4.11.1
